$bg-color: #fff
$screen_width: 1000px

body
    background-color: $bg-color

    header, section.content
        width: 100%
        max-width: $screen_width
        border: 1px solid black
        margin: 0 auto

    header
        h1
            float: left

        nav
            float: left

        blockquote
            clear: both

    section.content
        section.projects
            width: 30%
            float: left
        section.about_me
            width: 70%
            float: left